body {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

.menu__item {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
}

.menu__link--receive, .card__link {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
}

.header__name, .card__title {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.header__title, .recommendations__title, .recommendations__button, .card__price, .best__button {
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

cite {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

input {
  border: none;
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

address {
  font-style: inherit;
}

body {
  font-size: 16px;
  line-height: 1.4;
  background-color: #FFFFFF;
  color: #183B56;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  width: 90px;
  height: 28px;
}

@media only screen and (max-width: 768px) {
  .logo {
    position: relative;
    z-index: 4;
  }
}

.header__top {
  background-color: #E5E5E5;
}

.header__nav {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 60px;
}

.header__title {
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  max-width: 450px;
  margin-bottom: 48px;
}

.header__title-color {
  display: block;
  color: #FAAD13;
}

.header__name {
  font-size: 20px;
  font-weight: 1.2;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.header__text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 56px;
}

.header__redirection {
  padding: 18px 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #1565D8;
  border-radius: 8px;
  background-color: #1565D8;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}

.header__redirection:not(:last-child) {
  margin-right: 26px;
}

@media (min-width: 992px) {
  .header__redirection:hover {
    color: #1565D8;
    background-color: #FFFFFF;
  }
}

.header__redirection--bg {
  padding: 16px 50px 16px;
  font-size: 18px;
  color: #1565D8;
  background-color: #FFFFFF;
}

@media (min-width: 992px) {
  .header__redirection--bg:hover {
    color: #FFFFFF;
    background-color: #1565D8;
  }
}

.header__image {
  padding: 103px 119px;
  background-color: rgba(179, 186, 197, 0.1);
}

.header__img {
  max-width: 250px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    text-align: center;
    background-color: #5A7184;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
  }
  .menu--active {
    top: 0;
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    padding-top: 60px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__item:last-child {
  margin-left: 40px;
}

.menu__link {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: color 0.3s, -webkit-text-decoration-color 0.5s;
  transition: color 0.3s, -webkit-text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s, color 0.3s;
  transition: text-decoration-color 0.5s, color 0.3s, -webkit-text-decoration-color 0.5s;
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #1565D8;
    -webkit-text-decoration: underline #1565D8;
            text-decoration: underline #1565D8;
  }
}

@media only screen and (max-width: 768px) {
  .menu__link {
    display: block;
    padding: 20px 0;
    -webkit-transition: ease-in-out 0s;
    transition: ease-in-out 0s;
  }
}

.menu__link--receive {
  padding: 13px 28px;
  border: 2px solid #1565D8;
  border-radius: 8px;
  color: #1565D8;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}

@media (min-width: 992px) {
  .menu__link--receive:hover {
    color: #FFFFFF;
    background-color: #1565D8;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
  }
}

.burger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .burger:before, .burger:after {
    content: '';
    background-color: #183B56;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger--active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger--active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger--active .burger__line {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.burger__line {
  position: absolute;
  background-color: #183B56;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.recommendations {
  padding: 100px 0 80px;
}

.recommendations__title {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}

.recommendations__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendations__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: ()[3];
      grid-template-rows: repeat(3);
  grid-column-gap: 35px;
  grid-row-gap: 28px;
  margin-bottom: 24px;
}

.recommendations__button {
  padding: 25px 20px 27px;
  width: 100%;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1565D8;
  background-color: rgba(21, 101, 216, 0.1);
  border-radius: 8px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 15px 11px 11px;
  max-width: 358px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}

.card__img {
  margin-right: 20px;
  max-width: 160px;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: #B3BAC5;
  overflow: hidden;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.card__title {
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 16px;
}

.card__subtitle {
  margin-bottom: 24px;
}

.card__price {
  font-size: 20px;
  line-height: 1.2;
  color: #1565D8;
  margin-bottom: 24px;
}

.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__link {
  padding: 7px 20px;
  margin-right: 23px;
  color: #FFFFFF;
  background-color: #183B56;
  border-radius: 50px;
}

.card__btn {
  line-height: 1;
}

.best__cards {
  padding: 24px 24px 0;
  max-width: 360px;
  width: 100%;
  background-color: rgba(179, 186, 197, 0.1);
  border-radius: 8px;
}

.best__item:not(:last-child) {
  margin-bottom: 31px;
}

.best__item:last-child {
  margin-bottom: 20px;
}

.best__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.best__img {
  max-width: 120px;
  width: 100%;
  height: 182px;
  margin-right: 27px;
}

.best__button {
  padding: 30px 20px 27px;
  width: 100%;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1565D8;
  border-top: 1px solid #ECEEF2;
}
/*# sourceMappingURL=style.css.map */