body {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

.footer__copyright, .newsletter__input, .menu__item {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
}

.footer__title, .newsletter__button, .card__link, .menu__link--receive {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
}

.blog__name, .category__title, .card__title, .header__name {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

.newsletter__title, .blog__read, .blog__subtitle, .blog__link, .partners__text, .unreleased__title, .best__button, .card__price, .recommendations__button, .recommendations__title, .header__title, .title {
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

cite {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit;
}

input {
  border: none;
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  font: inherit;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

address {
  font-style: inherit;
}

body {
  font-size: 16px;
  line-height: 1.4;
  background-color: #FFFFFF;
  color: #183B56;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.logo {
  width: 90px;
  height: 28px;
}
@media only screen and (max-width: 768px) {
  .logo {
    position: relative;
    z-index: 4;
  }
}

.title {
  font-size: 48px;
  line-height: 1.25;
}

.header__nav {
  padding: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0 0;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
  padding-top: 47px;
}
.header__title {
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  max-width: 450px;
  margin-bottom: 24px;
}
.header__title-color {
  display: block;
  color: #FAAD13;
}
.header__name {
  font-size: 20px;
  font-weight: 1.2;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.header__text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 70px;
}
.header__redirection {
  padding: 18px 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #1565D8;
  border-radius: 8px;
  background-color: #1565D8;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}
.header__redirection:not(:last-child) {
  margin-right: 26px;
}
@media (min-width: 992px) {
  .header__redirection:hover {
    color: #1565D8;
    background-color: #FFFFFF;
  }
}
.header__redirection--bg {
  padding: 16px 50px 16px;
  font-size: 18px;
  color: #1565D8;
  background-color: #FFFFFF;
}
@media (min-width: 992px) {
  .header__redirection--bg:hover {
    color: #FFFFFF;
    background-color: #1565D8;
  }
}
.header__image {
  padding: 103px 119px;
  background-color: rgba(179, 186, 197, 0.1);
}
.header__img {
  max-width: 250px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    text-align: center;
    background-color: #5A7184;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;
  }
  .menu--active {
    top: 0;
  }
}
@media only screen and (max-width: 576px) {
  .menu {
    padding-top: 60px;
  }
}
.menu__item:not(:last-child) {
  margin-right: 23px;
}
.menu__item:last-child {
  margin-left: 40px;
}
.menu__link {
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: color 0.3s, -webkit-text-decoration-color 0.5s;
  transition: color 0.3s, -webkit-text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s, color 0.3s;
  transition: text-decoration-color 0.5s, color 0.3s, -webkit-text-decoration-color 0.5s;
}
@media (min-width: 992px) {
  .menu__link:hover {
    color: #1565D8;
    -webkit-text-decoration: underline #1565D8;
            text-decoration: underline #1565D8;
  }
}
@media only screen and (max-width: 768px) {
  .menu__link {
    display: block;
    padding: 20px 0;
    -webkit-transition: ease-in-out 0s;
    transition: ease-in-out 0s;
  }
}
.menu__link--receive {
  padding: 13px 37px 13px 31px;
  border: 2px solid #1565D8;
  border-radius: 8px;
  color: #1565D8;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}
@media (min-width: 992px) {
  .menu__link--receive:hover {
    color: #FFFFFF;
    background-color: #1565D8;
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
  }
}

.burger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .burger:before, .burger:after {
    content: "";
    background-color: #183B56;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger--active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger--active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger--active .burger__line {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.burger__line {
  position: absolute;
  background-color: #183B56;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.recommendations {
  padding: 100px 0 80px;
}
.recommendations__title {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
}
.recommendations__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommendations__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3);
  grid-column-gap: 35px;
  grid-row-gap: 28px;
  margin-bottom: 24px;
}
.recommendations__button {
  padding: 25px 20px 27px;
  width: 100%;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1565D8;
  background-color: rgba(21, 101, 216, 0.1);
  border-radius: 8px;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}
@media (min-width: 992px) {
  .recommendations__button:hover {
    color: #FFFFFF;
    background-color: #1565D8;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 15px 11px 11px;
  max-width: 358px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}
.card__img {
  margin-right: 20px;
  max-width: 160px;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  background-color: #B3BAC5;
  overflow: hidden;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.card__title {
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 16px;
}
.card__subtitle {
  margin-bottom: 24px;
}
.card__price {
  font-size: 20px;
  line-height: 1.2;
  color: #1565D8;
  margin-bottom: 24px;
}
.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__link {
  padding: 7px 20px;
  margin-right: 23px;
  color: #FFFFFF;
  background-color: #183B56;
  border: 1px solid #183B56;
  border-radius: 50px;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
}
@media (min-width: 992px) {
  .card__link:hover {
    color: #183B56;
    background-color: #FFFFFF;
  }
}
.card__btn {
  line-height: 1;
}
.card__btn svg {
  fill: #959EAD;
}
.card__btn--active svg {
  fill: #FAAD13;
}

.best__cards {
  padding: 24px 24px 0;
  max-width: 360px;
  width: 100%;
  background-color: rgba(179, 186, 197, 0.1);
  border-radius: 8px;
}
.best__item:not(:last-child) {
  margin-bottom: 31px;
}
.best__item:last-child {
  margin-bottom: 20px;
}
.best__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.best__img {
  max-width: 120px;
  width: 100%;
  height: 182px;
  margin-right: 27px;
}
.best__button {
  display: block;
  padding: 30px 20px 27px;
  width: 100%;
  text-align: center;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1565D8;
  border-top: 1px solid #ECEEF2;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.5s;
  transition: -webkit-text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s, -webkit-text-decoration-color 0.5s;
}
@media (min-width: 992px) {
  .best__button:hover {
    -webkit-text-decoration: underline #1565D8;
            text-decoration: underline #1565D8;
  }
}

.strip__line {
  width: 100%;
  height: 1px;
  background-color: #ECEEF2;
}

.category {
  padding: 57px 0 95px;
}
.category__wrapper {
  position: relative;
}
.category__item {
  max-width: 265px;
  padding: 40px 10px 30px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}
.category__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category__image {
  width: 64px;
  height: 64px;
  margin-bottom: 40px;
}
.category__title {
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 12px;
}
.category__subtitle {
  color: #5A7184;
}
.category__button {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  z-index: 2;
}
@media (min-width: 992px) {
  .category__button:hover {
    background-color: #5A7184;
  }
  .category__button:hover svg {
    fill: #FFFFFF;
  }
}
.category__button svg {
  fill: #183B56;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.category__button:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.category__button--prev {
  left: -28px;
}
.category__button--next {
  right: -28px;
}

.unreleased {
  padding: 62px 0 80px;
  background-color: #183B56;
}
.unreleased__wrapper {
  position: relative;
}
.unreleased__title {
  font-size: 36px;
  line-height: 1.35;
  margin-bottom: 60px;
  color: #FFFFFF;
}
.unreleased__item {
  max-width: 200px;
  height: 300px;
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.unreleased__image {
  width: 100%;
  height: 100%;
}
.unreleased__button {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: 0;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  z-index: 2;
}
@media (min-width: 992px) {
  .unreleased__button:hover {
    border-color: #5A7184;
  }
  .unreleased__button:hover svg {
    fill: #5A7184;
  }
}
.unreleased__button svg {
  fill: #FFFFFF;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.unreleased__button:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.unreleased__button--prev {
  right: 0;
  -webkit-transform: translateX(-135%);
          transform: translateX(-135%);
}
.unreleased__button--next {
  right: 0;
}

.story {
  padding: 104px 0 100px;
}
.story__wrapper {
  max-width: 1035px;
  padding: 0 15px;
  margin: 0 auto;
}
.story__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.story__text {
  font-size: 18px;
  line-height: 1.8;
  max-width: 380px;
  margin-right: 35px;
}

.video__link {
  display: block;
  position: relative;
  width: 100%;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .video__link:hover svg {
    fill: #FFFFFF;
  }
  .video__link:hover .video__button--circle:before {
    background-color: #1565D8;
  }
}
.video svg {
  fill: #1565D8;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.video__button {
  position: absolute;
  width: 30px;
  height: 39px;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.video__button--circle:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 45%;
  right: 60%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.video__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video__item {
  position: relative;
  max-width: 315px;
  width: 100%;
}
@media (min-width: 992px) {
  .video__item:hover svg {
    fill: #1565D8;
  }
}
.video__item svg {
  fill: #FFFFFF;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.video__story {
  display: block;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.video__inner svg {
  fill: #1565D8;
}

.partners {
  padding: 80px 0 100px;
  background-color: #B3BAC5;
  color: #FFFFFF;
}
.partners__text {
  font-size: 24px;
  font-weight: 1.3;
  margin-bottom: 50px;
  text-align: center;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-row-gap: 55px;
}

.blog {
  padding: 100px 0;
}
.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.blog__link {
  padding: 12px 17px;
  color: #1565D8;
  line-height: 1.25;
  letter-spacing: 0.2px;
  border: 2px solid #1565D8;
  border-radius: 22px;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
@media (min-width: 992px) {
  .blog__link:hover {
    background-color: #1565D8;
    color: #FFFFFF;
  }
}
.blog__all {
  display: block;
  width: 145px;
  text-align: center;
}
.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__hero {
  max-width: 556px;
  width: 100%;
  margin-right: 30px;
}
.blog__image {
  height: 330px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.blog__subtitle {
  font-size: 24px;
  line-height: 1.35;
  margin-bottom: 16px;
}
.blog__text {
  font-size: 18px;
  line-height: 1.8;
  color: #5A7184;
}
.blog__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__review:not(:last-child) {
  margin-bottom: 30px;
}
.blog__img {
  max-width: 250px;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  margin-right: 36px;
}
.blog__wrap {
  padding: 0 10px;
}
.blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog__date {
  font-size: 14px;
  color: #5A7184;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.blog__name {
  font-size: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}
.blog__read {
  text-transform: uppercase;
  color: #1565D8;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-transition: -webkit-text-decoration-color 0.5s;
  transition: -webkit-text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s;
  transition: text-decoration-color 0.5s, -webkit-text-decoration-color 0.5s;
}
@media (min-width: 992px) {
  .blog__read:hover {
    -webkit-text-decoration: underline #1565D8;
            text-decoration: underline #1565D8;
  }
}

.newsletter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 62px 83px 60px;
  border-radius: 12px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.newsletter__title {
  max-width: 400px;
  font-size: 36px;
  line-height: 1.3;
  color: #FFFFFF;
}
.newsletter__subscribe {
  position: relative;
  width: 447px;
}
.newsletter__subscribe svg {
  position: absolute;
  width: 16px;
  height: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  fill: #183B56;
}
.newsletter__input {
  position: relative;
  padding: 17px 140px 17px 48px;
  max-width: 100%;
  width: 100%;
  color: #959EAD;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.newsletter__input:focus-visible {
  color: #000000;
}
.newsletter__button {
  position: absolute;
  padding: 13px 28px;
  color: #FFFFFF;
  background-color: #FAAD13;
  border-radius: 4px;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 992px) {
  .newsletter__button:hover {
    background-color: #1565D8;
  }
}

.footer {
  padding: 108px 80px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 108px;
}
.footer__aside {
  max-width: 274px;
  width: 100%;
  margin-right: 20px;
}
.footer__logo {
  display: block;
  margin-bottom: 28px;
}
.footer__text {
  font-size: 15px;
  line-height: 1.85;
  color: #5A7184;
  margin-bottom: 40px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__icon {
  width: 16px;
  height: 18px;
  fill: #5A7184;
}
.footer__icon svg {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.footer__icon:not(:last-child) {
  margin-right: 33px;
}
.footer__soclink {
  position: relative;
  margin-left: 12px;
}
.footer__soclink:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: calc(50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(90, 113, 132, 0.1);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (min-width: 992px) {
  .footer__soclink:hover {
    fill: #FFFFFF;
  }
  .footer__soclink:hover:before {
    background-color: #5A7184;
  }
}
.footer__item {
  max-width: 194px;
  width: 100%;
  overflow: hidden;
}
.footer__title {
  font-size: 18px;
  margin-bottom: 31px;
}
.footer__link:not(:last-child) {
  margin-bottom: 24px;
}
.footer__bottom {
  text-align: center;
}
.footer__heart {
  display: inline-block;
  position: relative;
  margin-bottom: 32px;
}
.footer__heart svg {
  width: 24px;
  height: 28px;
  fill: #FFFFFF;
}
.footer__heart:before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1565D8;
  border-radius: 50%;
  z-index: -1;
}
.footer__copyright {
  color: #5A7184;
}/*# sourceMappingURL=style.css.map */