.header {
  &__top {

    &--animate {
      position: fixed;
      background-color: rgba($light-blue, 0.9);
      width: 100%;
      height: 100px;
      left: 0;
      right: 0;
      z-index: 99;
    }
  }

  &__nav {
    position: fixed;
    max-width: 1140px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 100;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(1200) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__hero {
    display: flex;
    padding-top: 178px;

    @include r(768) {
      flex-direction: column;
      padding-top: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
    padding-top: 47px;

    @include r(768) {
      margin-right: 0;
    }
  }

  &__title {
    @extend %rcbold-700;
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: 0.2px;
    max-width: 450px;
    margin-bottom: 24px;

    &-color {
      display: block;
      color: $orange-title;
    }

    @include r(1200) {
      font-size: 42px;
      margin-bottom: 24px;
    }

    @include r(576) {
      max-width: 100%;
      text-align: center;
      font-size: 32px;
      margin-bottom: 24px;
    }
  }

  &__name {
    @extend %roboto-500;
    font-size: 20px;
    font-weight: 1.2;
    text-transform: uppercase;
    margin-bottom: 36px;

    @include r(576) {
      text-align: center;
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 70px;

    @include r(576) {
      font-size: 16px;
      line-height: 1.45;
      text-align: center;
      margin-bottom: 17px;
    }
  }

  &__wrapper {
    &-redirection {
      @include r(992) {
        display: flex;
        flex-direction: column;
      }

      @include r(768) {
        flex-direction: row;
      }

      @include r(576) {
        flex-direction: column;
      }

    }
  }

  &__redirection {
    padding: 18px 37px;
    text-transform: uppercase;
    color: $bg;
    border: 2px solid $blue;
    border-radius: 8px;
    background-color: $blue;
    transition: background-color 0.5s, color 0.3s;

    &:not(:last-child) {
      margin-right: 26px;

      @include r(992) {
        margin-right: 0;
      }

      @include r(768) {
        margin-right: auto;
      }
    }

    @include r(1200) {
      padding: 14px 30px;
    }

    @include r(992) {
      margin-bottom: 20px;
      text-align: center;
    }

    @include r(768) {
      padding: 12px 50px;
      margin: 0 auto 20px;

    }

    @include r(576) {
      text-align: center;
      padding: 9px 20px;
      margin: 0 auto 10px;
    }

    @include desktop {
      &:hover {
        color: $blue;
        background-color: $bg;
      }
    }

    &--bg {
      padding: 16px 50px 16px;
      font-size: 18px;
      color: $blue;
      background-color: $bg;

      @include desktop {
        &:hover {
          color: $bg;
          background-color: $blue;
        }
      }

      @include r(1200) {
        padding: 12px 30px 12px;
      }

      @include r(992) {
        text-align: center;
        font-size: 16px;
      }

      @include r(768) {
        padding: 12px 60px;
      }

      @include r(576) {
        padding: 9px 30px;
        margin: 0 auto 30px;
      }
    }
  }

  &__image {
    padding: 103px 119px;
    background-color: rgba($bg-medium, 0.1);

    @include r(992) {
      display: flex;
      align-items: center;
    }

    @include r(768) {
      margin: 0 auto;
      padding: 60px 70px;
    }
  }

  &__img {
    max-width: 250px;
    width: 100%;
  }
}

.menu {
  display: flex;
  align-items: center;
  position: relative;

  @include r(768) {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    text-align: center;
    background-color: $title;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 3;

    &--active {
      top: 100px;
      padding-top: 60px;
    }
  }

  @include r(576) {
    padding-top: 60px;
  }

  &__item {
    @extend %opsans-600;

    &:not(:last-child) {
      margin-right: 23px;

      @include r(768) {
        margin: 0 auto;
      }
    }

    &:last-child {
      margin-left: 40px;

      @include r(768) {
        margin: 0 auto;
      }
    }

    @include r(768) {
      max-width: 100%;
    }
  }

  &__link {
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s, color 0.3s;

    @include desktop {
      &:hover {
        color: $blue;
        text-decoration: underline $blue;
      }
    }

    @include r(768) {
      font-size: 20px;
      display: block;
      padding: 20px 0;
      margin-right: 0;
      margin-bottom: 10px;
      color: $bg;
      background-color: $text;
      transition: ease-in-out 0s;
    }

    &--receive {
      padding: 13px 34px 13px 29px;
      @extend %opsans-700;
      border: 2px solid $blue;
      border-radius: 8px;
      color: $blue;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.5s, color 0.3s;

      @include desktop {
        &:hover {
          color: $bg;
          background-color: $blue;
          text-decoration-color: transparent;
        }
      }

      @include r(768) {
        color: $bg;
        border-color: $bg;
        width: 80%;
        margin: 30px auto 0;
      }
    }
  }

}

.burger {
  display: none;

  @include r(768) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;

    &:before,
    &:after {
      content: '';
      background-color: $title;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: transform 0.3s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &--active {
      &:before {
        transform: rotate(45deg);
        top: 9px;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      .burger {
        &__line {
          transform: scale(0);
        }
      }
    }
  }

  &__line {
    position: absolute;
    background-color: $title;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: transform 0.3s;
  }
}