html {
    scroll-behavior: smooth;
}

body {
    @extend %opsans-400;
    font-size: 16px;
    line-height: 1.4;
    background-color: $bg;
    color: $title;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.logo {
    width: 90px;
    height: 28px;

    @include r(768) {
        position: relative;
        z-index: 4;
    }
}

.title {
    @extend %rcbold-700;
    font-size: 48px;
    line-height: 1.25;
}

.go-back {
    display: none;
    color: $blue;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 20px;
    position: fixed;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    transition: background-color .5s;
    cursor: pointer;
}

polygon {
    fill: $bg;
}

polygon:hover {
    fill: $text;
}

.animate {
    background-color: rgba($text, 0.5);
    display: block;
}

.invalid {
    color: $orange-title;
}

.lock {
    overflow: hidden;
}

.header__top--animate ~ .burger--active {
    opacity: 1;
}